@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@600;700&family=Khula:wght@700&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poiret+One|Open+Sans");

:root {
    --main-color: cyan;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

nav {
    background-color: #333;
    height: 80px;
    width: 100vw;
}

.navbar-logo {
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 7px 13px;
}

.active,
a:hover {
    color: var(--main-color);
    background-color: #3f3f3f;
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.card {
    background-color: rgba(63, 63, 63, 0.8);
    max-width: 450px;
    text-align: center;
    margin-top: 15vh;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    border-radius: 20px;
}

.card-avatar {
    border-radius: 50%;
    height: 150px;
}

.card-title {
    color: var(--main-color);
}

.card-about {
    text-align: left;
    color: white;
}

.icon {
    padding: 10px;
    font-size: 20px;
}

@media (max-width: 952px) {
    .navbar-logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #3f3f3f;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a.active,
    a:hover {
        color: var(--main-color);
        background-color: #333;
        transition: 0.5s;
    }

    #check:checked~ul {
        left: 0;
    }
}