@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@600;700&family=Khula:wght@700&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poiret+One|Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

:root {
    --main-color: cyan;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.navbar nav {
    background-color: #333;
    height: 80px;
    width: 100vw;
}

.navbar .navbar-logo {
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.navbar nav ul {
    float: right;
    margin-right: 20px;
}

.navbar nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

.navbar nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 7px 13px;
}

.navbar .active,
a:hover {
    color: var(--main-color);
    background-color: #3f3f3f;
    transition: 0.5s;
}

.navbar .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.home .container {
    margin: 30vh auto;
    width: 50%;
}

.home .center {
    display: flex;
    align-items: center;
}

.home .thanksBox {
    background-color: #3f3f3f;
    opacity: 0.8;
    font-family: "Khula", sans-serif;
    color: white;
    display: block;
    padding: 20px;
    border-radius: 40px;
}

.home .text-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    animation: blink 1s infinite;
}

.home .avatar {
    border-radius: 50%;
    height: 150px;
    margin: 40px;
    transform: deg(-360deg);
    transition: ease-in-out 1s;
}

.home .avatar:hover {
    height: calc(150px + 5vh);
    transform: rotate(360deg);
    transition: ease-in-out 1s;
}

.about .card {
    background-color: rgba(63, 63, 63, 0.8);
    max-width: 450px;
    text-align: center;
    margin-top: 15vh;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    border-radius: 20px;
}

.about .card-avatar {
    border-radius: 50%;
    height: 150px;
}

.about .card-title {
    color: var(--main-color);
}

.about .card-about {
    text-align: left;
    color: white;
}

.about .icon {
    padding: 10px;
    font-size: 20px;
}

.contact {
    font-family: "Nunito", sans-serif;
}

.contact .card {
    width: 350px;
    height: fit-content;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgba(63, 63, 63, 0.8);
    margin-top: 10px;
}

.contact .card-content {
    margin: 15px 2px;
}

.contact .card-avatar img {
    height: auto;
    width: 120px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.contact .card-name {
    font-size: 1.25em;
    font-weight: bolder;
    letter-spacing: 1px;
}

.contact .card-job-title {
    font-size: 0.65em;
    font-weight: bolder;
    color: gray;
    margin-top: -2px;
}

.contact .card-job-description {
    font-size: 0.7em;
    color: gray;
    margin: 10px 30px 20px;
}

.contact .icons {
    margin: 0px 30px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
}

.contact .card-icons button {
    width: 25px;
    height: 25px;
    border: none;
    background: none;
    font-size: 1em;
}

.contact i:hover {
    color: #58a497;
    transition: 0.5s;
}

.contact .card-button {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-weight: bolder;
}

.contact .card-button {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px 30px 0px;
}

.contact .card-message {
    background-color: #ededed;
    border: 2px solid #000;
}

.contact .card-connect {
    background-color: #000;
    color: #ededed;
    border: none;
}

.contact .card-connect:hover {
    letter-spacing: 1px;
    transition: 0.5s;
}

.contact .card-message:hover {
    letter-spacing: 1px;
    transition: 0.5s;
    background-color: rgba(88, 164, 151, 0.5);
}

@media (max-width: 952px) {
    .navbar .navbar-logo {
        font-size: 30px;
        padding-left: 50px;
    }

    .navbar nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .navbar .checkbtn {
        display: block;
    }

    .navbar ul {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #3f3f3f;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    .navbar nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navbar nav ul li a {
        font-size: 20px;
    }

    .navbar a.active,
    a:hover {
        color: var(--main-color);
        background-color: #333;
        transition: 0.5s;
    }

    #check:checked~ul {
        left: 0;
    }
}

@media screen and (max-width: 480px) {
    .contact .card {
        width: 100vw;
        border-radius: 0px;
    }

    .contact .card-button {
        display: flex;
        flex-direction: column;
    }

    .contact .card-button button {
        width: 250px;
    }

    .contact button .card-connect {
        margin-top: 10px;
    }
}

@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}
