@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@600;700&family=Khula:wght@700&family=Poppins:wght@600&display=swap");

:root {
    --main-color: cyan;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.navbar nav {
    background-color: #333;
    height: 80px;
    width: 100vw;
}

.navbar .navbar-logo {
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.navbar nav ul {
    float: right;
    margin-right: 20px;
}

.navbar nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

.navbar nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 7px 13px;
}

.navbar .active,
a:hover {
    color: var(--main-color);
    background-color: #3f3f3f;
    transition: 0.5s;
}

.navbar .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.home .container {
    margin: 30vh auto;
    width: 50%;
}

.home .center {
    display: flex;
    align-items: center;
}


.home .thanksBox {
    background-color: #3f3f3f;
    opacity: 0.8;
    font-family: "Khula", sans-serif;
    color: white;
    display: block;
    padding: 20px;
    border-radius: 40px;
}

.home .text-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    animation: blink 1s infinite;
}

.home .avatar {
    border-radius: 50%;
    height: 150px;
    margin: 40px;
    transform: deg(-360deg);
    transition: ease-in-out 1s;
}

.home .avatar:hover {
    height: calc(150px + 5vh);
    transform: rotate(360deg);
    transition: ease-in-out 1s;
}

.about .card {
    background-color: rgba(63, 63, 63, 0.8);
    max-width: 450px;
    text-align: center;
    margin-top: 15vh;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    border-radius: 20px;
}

.about .card-avatar {
    border-radius: 50%;
    height: 150px;
}

.about .card-title {
    color: var(--main-color);
}

.about .card-about {
    text-align: left;
    color: white;
}

.about .icon {
    padding: 10px;
    font-size: 20px;
}

@media (max-width: 952px) {
    .navbar .navbar-logo {
        font-size: 30px;
        padding-left: 50px;
    }

    .navbar nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .navbar .checkbtn {
        display: block;
    }

    .navbar ul {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #3f3f3f;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    .navbar nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navbar nav ul li a {
        font-size: 20px;
    }

    .navbar a.active,
    a:hover {
        color: var(--main-color);
        background-color: #333;
        transition: 0.5s;
    }

    #check:checked~ul {
        left: 0;
    }
}

@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}